.summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.summary-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 45%;
    text-align: center;
}
.summary h1{
    font-size: 3rem;
    margin-bottom: 25px;
}
.summary p {
    font-style: italic;
    line-height: 35px;
    font-size: 1.5rem;
}
@media screen and (max-width: 786px) {
    .summary{
        height: 100vh;
    }
    .summary-info{
        width: 90%;
    }
}